﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"><!--在IE8環境開啟渲染模式-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"> <!--縮放比例1   user可否自己縮放no-->
    <title></title>
    <link href="css/main.css?v=20161231" rel="stylesheet"/>
    <link href="css/jquery.json-viewer.css.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-jie.css" rel="stylesheet">
    <script src="scripts/jquery-3.1.1.js"></script>
    <script src="scripts/jquery.json-viewer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script>
    </script>
</head>
<body>
<!--導航-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- 小視窗按鈕 和LOGO-->
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">
                <img src="src/main/resources/img/bestway_travel.png">
            </a>
        </div>
        <!--導航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html" class="navbar-brand">訊息管理</a></li>
                <li><a href="index.html" class="navbar-brand">帳號管理</a></li>
                <li><a href="index.html" class="navbar-brand">訂單管理</a></li>
                <li><a href="index.html" class="navbar-brand">帳務管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="center">
    <div class="header">
        <h2 class="title">資料維護</h2>
    </div>


    <div style="text-align:center;height:24px;">
        <span id="labApiVer"></span>
    </div>
    <div class="body">

        <section>
            <div id='changCurr' class="fnContainer">
                <div class="fnContainer">
                    <label>台幣:</label>
                    <input type="text" v-model="twd">
                </div>
                <div id='JP' class="fnContainer">
                    <label>JPY :</label>
                    {{twd / JPY}}
                    <div class="fnContainer" v-show="showTip" v-if="JPY<0.28">請買進!!</div>
                    <div class="fnContainer" v-show="showTip" v-if="JPY>0.30">請賣出!!</div>
                </div>
                <div id='US' class="fnContainer">
                    <label>USD :</label>
                    {{twd / USD}}
                    <div class="fnContainer" v-show="showTip" v-if="USD<28.0">請買進!!</div>
                    <div class="fnContainer" v-show="showTip" v-if="USD>30.0">請賣出!!</div>
                </div>
            </div>
            <div class="fnContainer">
                <label>職員編號:</label>
                <input type="text" id="id">
            </div>
            <div class="fnContainer">
                <label>老師名稱:</label>
                <input type="text" id="name">
            </div>
            <div class="fnContainer">
                <label>負責教學課程:</label><br>
                <input type="checkbox" name="lessons1" id="lessons1" value="1"> 數學<br>
                <input type="checkbox" name="lessons2" id="lessons2" value="2"> 國文<br>
                <input type="checkbox" name="lessons3" id="lessons3" value="3"> 地理<br>
                <input type="checkbox" name="lessons4" id="lessons4" value="4"> 歷史<br>
            </div>
            <div class="fnContainer">
                <label>KEY:</label>
                <input type="text" id="key">
            </div>
            <div class="fnContainer">
                <button id="btnR">查詢</button>
                <button id="btnC">新增</button>
                <button id="btnU">修改</button>
                <button id="btnD">刪除</button>
            </div>
            <!--
                    <div class="fnContainer">
                        <label>Api：</label>
                        <select id="apiList">
                            <option value="customerInfoProcessor">基本資料</option>
                            <optgroup label="個人總覽">
                                <option value="assetsOverviewProcessor">資產總覽</option>
                                <option value="assetsDistributionProcessor">資產配置</option>
                                <option value="savingAccountInfoProcessor">存款</option>
                                <option value="fundSummaryProcessor">基金-總覽</option>
                                <option value="fundOverviewProcessor">基金-概要</option>
                                <option value="fundRedempProcessor">基金-贖回</option>
                                <option value="etfSummaryProcessor">ETF-總覽</option>
                                <option value="etfOverviewProcessor">ETF-概要</option>
                                <option value="etfRedempProcessor">ETF-贖回</option>
                                <option value="snBondSummaryProcessor">SN/Bond-總覽</option>
                                <option value="snBondOverviewProcessor">SN/Bond-概要</option>
                                <option value="snBondRedempProcessor">SN/Bond-贖回</option>
                                <option value="insuranceProcessor">保險</option>
                                <option value="goldenAccountSummaryProcessor">黃金存摺</option>
                                <option value="goldenAccountDetailProcessor">黃金存摺明細</option>
                                <option value="equityProcessor">Equity</option>
                                <option value="structuredProdcutProcessor">SI</option>
                                <option value="dciProcessor">DCI</option>
                                <option value="dicDetailProcessor">DCI-到期查詢</option>
                                <option value="fundDetailProcess">基金總攬明細合併</option>
                                <option value="fundOverviewEsbProcessor">基金-概要（ESB）</option>
                                <option value="etfOverviewEsbProcessor">ETF-概要（ESB）</option>
                                <option value="snBondOverviewEsbProcessor">Bond-概要（ESB）</option>
                                <option value="fundSummaryEsbProcessor">基金-總覽（ESB）</option>
                                <option value="snBondSummaryEsbProcessor">Bond-總覽（ESB）</option>
                                <option value="etfSummaryEsbProcessor">ETF-總覽（ESB）</option>
                                <option value="fundRedeemEsbProcessor">基金-贖回（ESB）</option>
                                <option value="etfRedeemEsbProcessor">ETF-贖回（ESB）</option>
                                <option value="equityEsbProcessor">Equity（ESB）</option>
                                <option value="roiPriodEsbProcessor">查詢投資帳戶總覽損益分析資料（ESB）</option>
                                <option value="roiListEsbProcessor">查詢投資帳戶總覽目前持有部位（ESB）</option>
                            </optgroup>
                        </select>
                    </div>
                        -->
            <div class="fnContainer">
                <label>LastUpdated：</label>
                <span id="labLastTime"></span>
            </div>
        </section>

        <div class="viwer-container">
            <div id="viwer"></div>
        </div>

    </div>
</div>

<div id="loadingMask" class="loading-mask"></div>

<script>
    (function (global) {
        var loadingMask = (function () {
            var $loadingMask = $('#loadingMask');
            return {
                show: function () {
                    $loadingMask.fadeIn(500);
                },
                hide: function () {
                    $loadingMask.fadeOut(500);
                }
            };
        })();
        var $viwer = $('#viwer');
        var $lastTime = $('#labLastTime');
        //insert---------------------------------
        $('#btnC').on('click', function () {
            var name = $('#name').val();
            var id = $('#id').val();
            alert(id);
            alert(name);
            //var lessons = $('#lessons').val();
            //var lessons=[{"id":"1"},{"id":"2"}];
            //var lessons=["1","3"];
            var lessons = getLessons();
            alert(lessons);
            var reqUrl = getUrl();
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                url: reqUrl,
                data: JSON.stringify({"id": id, "name": name, "lessons": lessons}),
                method: 'POST',
                dataType: 'json',
                beforeSend: loadingMask.show,
                complete: loadingMask.hide
            }).done(function () {
                $viwer.jsonViewer(resp, {collapsed: false, withQuotes: false});
                $viwer.parent().animate({scrollTop: 0}, '500', 'swing');
                var now = new Date();
                $lastTime.text(now.toJSON());
            }).fail(function (xhr) {
                $viwer.jsonViewer(xhr.responseText, {collapsed: false, withQuotes: false});
            })
        });
        //query----------------------------------
        $('#btnR').on('click', function () {
            var reqUrl = getUrl();
            //alert("queryAll "+getUrl());
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                url: reqUrl,
                data: '',
                method: 'GET',
                dataType: 'json',
                beforeSend: loadingMask.show,
                complete: loadingMask.hide
            }).done(function (resp) {
                $viwer.jsonViewer(resp, {collapsed: false, withQuotes: false});
                $viwer.parent().animate({scrollTop: 0}, '500', 'swing');
                var now = new Date();
                $lastTime.text(now.toJSON());
            }).fail(function (xhr) {
                $viwer.jsonViewer(xhr.responseText, {collapsed: false, withQuotes: false});
            })
        });
        //Delete-----------------------------------------------------
        $('#btnD').on('click', function () {
            var key = $('#key').val();
            alert("d: " + key);
            var reqUrl = getUrl2(key);
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                url: reqUrl,
                data: '',
                method: 'DELETE',
                dataType: 'json',
                beforeSend: loadingMask.show,
                complete: loadingMask.hide
            }).done(function (resp) {
                $viwer.jsonViewer(resp, {collapsed: false, withQuotes: false});
                $viwer.parent().animate({scrollTop: 0}, '500', 'swing');
                var now = new Date();
                $lastTime.text(now.toJSON());
            }).fail(function (xhr) {
                $viwer.jsonViewer(xhr.responseText, {collapsed: false, withQuotes: false});
            })
        });
        //update---------------------------------
        $('#btnU').on('click', function () {
            var name = $('#name').val();
            var id = $('#id').val();
            var lessons = getLessons();
            alert(id);
            alert(name);
            alert(lessons);
            var key = $('#key').val();
            alert("KEY U: " + key);
            var reqUrl = getUrl2(key);
            ;
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                url: reqUrl,
                data: JSON.stringify({"id": id, "name": name, "lessons": lessons}),
                method: 'PUT',
                dataType: 'json',
                beforeSend: loadingMask.show,
                complete: loadingMask.hide
            }).done(function (resp) {
                $viwer.jsonViewer(resp, {collapsed: false, withQuotes: false});
                $viwer.parent().animate({scrollTop: 0}, '500', 'swing');
                var now = new Date();
                $lastTime.text(now.toJSON());
            }).fail(function (xhr) {
                $viwer.jsonViewer(xhr.responseText, {collapsed: false, withQuotes: false});
            })
        });
        $('#envList').on('change', function () {
            var url = getDomain() + '/sysInfo/apiVer';
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json'
            }).done(function (resp) {
                $('#labApiVer').text('Version：' + resp.ver);
            }).fail(function () {
                $('#labApiVer').text('Version：unknown');
            });
        }).trigger('change');

        function getRespList(list) {
            alert("123");
            return "list";
        }

        function getUrl() {
            //var api = $('#apiList').val();
            var reqUrl = '';
            //reqUrl += getDomain();
            reqUrl += 'http://localhost:8080/teachers/' //+ api;
            //var now = new Date();
            //reqUrl += '/' + now.getTime().toString();
            return reqUrl;
        }

        function getUrl2(parameter) {
            var api = parameter;
            var reqUrl = '';
            //reqUrl += getDomain();
            reqUrl += 'http://localhost:8080/teachers/' + api;
            //var now = new Date();
            //reqUrl += '/' + now.getTime().toString();
            return reqUrl;
        }

        function getDomain() {
            var env = $('#envList').val();
            var domain = 'http://';
            domain += '0' === env ? 'localhost:8772' : '61.65.14.164:8081/financeInquiry';
            return domain;
        }

        function getLessons() {
            var arr = [];
            if (document.getElementById("lessons1").checked) {
                arr.push("1");
            }
            ;
            if (document.getElementById("lessons2").checked) {
                arr.push("2")
            }
            ;
            if (document.getElementById("lessons3").checked) {
                arr.push("3")
            }
            ;
            if (document.getElementById("lessons4").checked) {
                arr.push("4")
            }
            ;
            return arr;
        }
    })(window);
    var app = new Vue({
        el: '#changCurr',
        data: {
            JPY: 0.21,
            USD: 42.0,
            twd: 0,
            showTip: true
        }
    })
</script>


</body>
</html>